/*CHECK IN global.css for what variables are available for use*/

.landing-page-bg{
    background-image: url("../Assets/landing-page\ img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    animation: zoomIN 5s;
}

.landing-page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.616);
    backdrop-filter: blur(3px);
}

@keyframes zoomIN {
    0% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.landing-page-container h1{
    margin-top: 15vh;
    font-size: 80px;
    font-weight: var(--bold-f);
}

.landing-page-container h3{
    font-family: 'Great Vibes', cursive;
    margin-top: 5vh;
    font-size: 40px;
    letter-spacing: 2px; 
}

.landing-page-container h4{
    margin-top: 20vh;
}

.chevron-container{
    height: 50px;
}

.fa-chevron-down{
    animation: movingChevron 1s infinite;
    cursor: pointer;
}

@keyframes movingChevron {
    0% { margin-top: 4px; }
    25% { margin-top: 2px; }
    50% { margin-top: 0px; }
    75% { margin-top: 2px; }
    100% { margin-top: 4px; }
}

.home-page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (min-width:1600px){
    .home-page-content{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:2000px){
    .home-page-content{
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:2500px){
    .home-page-content{
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
}

.card-info-container{
    margin-top: 50px;
    border-radius: 10px !important;
    transition: transform 0.5s ease-in-out;
    box-shadow:  9px 9px 24px #d7d7d777,
             -9px -9px 24px #e9e9e962;
}

.card-info-container:hover{
    transform: scale(1.03);
}

.card-info-container:active{
    transform: scale(0.97);
}

.card-img-top{
    object-fit: cover;
    height: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.title-icon, .title-text, .title-wines, .title-wineries, .title-username, .title-logout{
    color: white;
}