/*CHECK IN global.css for what variables are available for use*/

.elements-container{
    width: 99vw;
    overflow-x: hidden;
    position: relative;
}

.img-container{
    width: 99vw;
    height: 70vh;
    overflow: hidden;
    position:relative;
}

.img-cover{
    width: 99vw;
    height: 75vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.616);
    backdrop-filter: blur(3px);
    top: 0;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.winery-image{
    display: inline;
    min-width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.website-container{
    height: 30vh;
    z-index: 30;
    width: 99vw;
    display: flex;
    margin-top: -5vh;
    justify-content: space-evenly;
}

.card{
    box-shadow:  9px 9px 24px #d7d7d777,
             -9px -9px 24px #e9e9e962;
    transition: transform 0.5s ease-in-out;
    height: 150px !important;
}

.card:hover{
    transform: scale(1.03);
}

.card-icon-and-count{
    display: flex;
    height: 70px;
    align-items: center;
}

.winery-name{
    margin-bottom: 15vh;
    color: white;
    margin-left: 5vw;
}

.title-icon, .title-text, .title-wines, .title-wineries, .title-username, .title-logout{
    color: white;
}

.wines-container{
    height: 50vh;
    overflow-y: scroll;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

.btns-click, .btns-click-gray{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    background-color: var(--app-theme-col) !important;
    border-radius: 10px !important;
    border: none !important;
    transition: transform 0.3s ease-in-out;
}

.btns-click-gray{
    background-color: var(--gray-1000) !important;
}

.btns-click:hover, .btns-click-gray:hover{
    opacity: 0.9;
}

.btns-click:active, .btns-click-gray:hover{
    transform: scale(0.99);
}

.spinner-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background:rgba(0, 0, 0, 0.308);
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
}